<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Odontológica</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="./img/LogoAgenda.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <!--First content-->
        <div class="content first-content">
             <div class="first-column">
                <h2 class="title-primary">Bem vindo devolta!</h2>
                <p class="description">Se mantenha conectado</p>
                <p class="description">Por favor acesse com suas informações pessoais</p>
                <button class="btn btn-primary">Entrar</button>
             </div>
             <div class="second-column">
                <h2 class="title">Crie uma conta</h2>
                <div class="social-media">
                    <!--Social media-->
                    <ul class="list-social-media">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">google+</a></li>
                        <li><a href="#">linkedin</a></li>
                    </ul>
                    <!--End-Social media-->
                </div>
                <p class="description">Ou use seu email para se registrar:</p>
                <form class="form">
                    <input type="text" placeholder="Nome">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Senha">
                    <button class="btn-primary">Cadastrar</button>
                </form>
             </div><!--Second column-->
        </div><!--End First content-->
        <!--Second content-->
        <div class="second-content">
            <div class="first-column">
                <h2 class="title">Olá, amigo</h2>
                <p class="description">Insira seus dados pessoais</p>
                <p class="description">Inicie sua jornada conosco</p>
                <button class="btn">Entrar</button>
             </div>
             <div class="second-column">
                <h2 class="title">Acesse sua conta</h2>
                <div class="social-media">
                    <!--Social media-->
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">google+</a></li>
                        <li><a href="#">linkedin</a></li>
                    </ul>
                    <!--End-Social media-->
                </div>
                <p class="description">Ou use seu email para acessar:</p>
                <form class="form">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Senha">
                    <a href="#">Esqueceu sua senha?</a>
                    <button class="btn">Acessar</button>
                </form>
             </div><!--Second column-->
        </div>
        <!--End Second content-->
    </div>
</body>

</html>