<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KG Agendaca</title>
    <link rel="stylesheet" href="/src/acess/view/css/style.css">
    <link rel="stylesheet" href="/libs/fontawesome/css/all.css">
    <link rel="shortcut icon" href="/img/LogoAgenda.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <!--First content-->
        <div class="content first-content">
             <div class="first-column">
                <h2 class="title title-primary">Bem vindo devolta!</h2>
                <p class="description description-primary">Se mantenha conectado</p>
                <p class="description description-primary">Por favor acesse com suas informações pessoais</p>
                <button id="signin" class="btn btn-primary">Entrar</button>
             </div>
             <div class="second-column">
                <h2 class="title title-second">Crie uma conta</h2>
                <form class="form">
                    <label class="label-input" for="">
                        <i class="fa-solid fa-user icon-modify"></i>
                        <input type="text" placeholder="Nome">
                    </label>
                    <label class="label-input" for="">
                        <i class="fa-solid fa-envelope icon-modify"></i>
                        <input type="email" placeholder="Email">
                    </label>
                    <label class="label-input" for=""> 
                        <i class="fa-solid fa-lock icon-modify"></i>
                        <input type="password" placeholder="Senha">
                    </label>
                    <button class="btn btn-second">Cadastrar</button>
                </form>
             </div><!--Second column-->
        </div><!--End First content--> 

        <!--Second content-->

        <div class="content second-content">
            <div class="first-column">
                <h2 class="title title-primary">Olá amigo</h2>
                <p class="description description-primary">Insira seus dados pessoais</p>
                <p class="description description-primary">Inicie sua jornada conosco</p>
                <button id="signup" class="btn btn-primary">Entrar</button>
            </div>
             <div class="second-column">
                <h2 class="title title-second">Acesse sua conta</h2>
                <p class="description description-second">Ou use seu email para acessar:</p>
                <form class="form">
                    <label class="label-input" for="">
                        <i class="fa-solid fa-envelope icon-modify"></i>
                        <input type="email" placeholder="Email">
                    </label>

                    <label class="label-input" for="">
                        <i class="fa-solid fa-lock icon-modify"></i>
                        <input type="password" placeholder="Senha">
                    </label>

                    <a class="password" href="#">Esqueceu a senha?</a>
                    <button class="btn btn-second">Cadastrar</button>
                </form>
             </div><!--Second column-->
        </div>
        <!--End Second content-->
    </div>
    <script src="/src/acess/view/js/acess.js"></script>
</body>
</html>