<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/src/agendamento/view/agendamento.css">
<link rel="stylesheet" href="/libs/fontawesome/css/all.css">
<link rel="icon" href="./img/Logo kg.png" type="image/x-icon">
<title>Agendamento</title>

<body>
    <div class="container">

        <!--Exibe doutores-->
            <div class="doutores">
                <h2 class="title-dout">Doutores</h2>

            </div>

         <!--Exibe horarios disponiveis e nao disponiveis-->
            <div class="horarios-doutor">
                <h2 class="title-dia">Dias e Horários</h2>
            </div>

        <!--Campos para realizar cadastro para realizar agendamento-->
            <div class="dados-pessoais">
                <h2 class="title-dados">Dados Pessoais</h2>
                <form>
                    <div>
                        <label class="text-campo" for="">Nome completo:&nbsp </label>
                        <input class="campo nome" type="text" placeholder="Nome Completo" required>
                    </div>

                    <div>
                        <label class="text-campo" for="">Seu CPF:&nbsp </label>
                        <input class="campo cpf" type="text" placeholder="CPF" required>
                    </div>

                    <div>
                        <label class="text-campo" for="">Data de nascimento:&nbsp </label>
                        <input class="campo dtNasc" type="date" placeholder="Data de nascimento" required>
                    </div>

                    <div>
                        <label class="text-campo" for="">Telefone fixo:&nbsp </label>
                        <input class="campo telefone" type="text" placeholder="Telefone" required>
                    </div>

                    <div>
                        <label class="text-campo" for="">Celular:&nbsp </label>
                        <input class="campo celular" type="text" placeholder="Número de Celular" required>
                    </div>

                    <div>
                        <label class="text-campo" for="">CEP:&nbsp </label>
                        <input class="campo cep" type="text" placeholder="CEP" required>
                    </div>

                    <div>
                        <label class="text-campo" for="">Cidade:&nbsp </label>
                        <input class="campo cidade" type="text" placeholder="Cidade" required>
                    </div>

                    <div>
                        <label class="text-campo" for="">Logradouro:&nbsp </label>
                        <input class="campo rua" type="text" placeholder="Rua" required>
                    </div>

                    <div>
                        <label class="text-campo" for="">Bairro:&nbsp </label>
                        <input class="campo bairro" type="text" placeholder="Bairro" required>
                    </div>

                    <button class="agendar">
                    Finalizar Agendamento
                    </button>
                </form>
            </div>

    </div>
</body>

<script src="../../../js/jquery-3.6.0.js"></script>
