<link rel="stylesheet" href="/src/definir-horarios/view/style-horario.css">
<div class="container">
    <div>
        <p class="referencia">Selecione o dia da semana para editar os horarios de atendimento</p>
    </div>
    
    <div class="content">
        <div class="semana-grid">
            <div class="dia-1 text alter">Segunda-Feira
                <p>Dia XX/XX</p>
            </div>
            <div class="dia-2 text alter">Terça-Feira
                <p>Dia XX/XX</p>
            </div>
            <div class="dia-3 text alter">Quarta-Feira
                <p>Dia XX/XX</p>
            </div>
            <div class="dia-4 text alter">Quinta-Feira
                <p>Dia XX/XX</p>
            </div>
            <div class="dia-5 text alter">Sexta-Feira
                <p>Dia XX/XX</p>
            </div>
        </div>
    </div>
</div>