<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/src/cadastro/view/cadUser.css">
<link rel="stylesheet" href="/libs/fontawesome/css/all.css">
<link rel="icon" href="./img/Logo kg.png" type="image/x-icon">
<title>Dados Pessoais</title>

<body>
    <div class="container">
        <div class="boxImg">
          <img src="../../../img/Logo-escrita.png" class="img">
        </div>
        <!--Campos para realizar cadastro para realizar agendamento-->
            <div class="dados-pessoais">
                <h2 class="title-dados">Dados Pessoais</h2>
                    <div class="alinha">
                        <label class="text-campo" for="">Nome completo:&nbsp </label>
                        <input class="campo nome" type="text" placeholder="Nome Completo" required>
                    </div>

                    <div class="alinha">
                        <label class="text-campo" for="">Data de nascimento:&nbsp </label>
                        <input class="campo dtNasc" type="date" placeholder="Data de nascimento" required>
                    </div>

                    <div class="alinha ladoCPF">
                        <label class="text-campo" for="">Seu CPF:&nbsp </label>
                        <input class="campo cpf" type="text" placeholder="CPF" required>
                    </div>

                    <!-- <div class="alinha ladoTel">
                        <label class="text-campo" for="">Telefone:&nbsp </label>
                        <input class="campo telefone" type="text" placeholder="Telefone" required>
                    </div> -->

                    <div class="alinha ladoCel">
                        <label class="text-campo" for="">Celular:&nbsp </label>
                        <input class="campo celular" type="text" placeholder="Celular" required>
                    </div>

                    <div class="alinha">
                        <label class="text-campo" for="">CEP:&nbsp </label>
                        <input class="campo cep" type="text" placeholder="CEP" required>
                    </div>

                    <div class="alinha ladoCid">
                        <label class="text-campo" for="">Cidade:&nbsp </label>
                        <input class="campo cidade" type="text" placeholder="Cidade" required>
                    </div>

                    <div class="alinha">
                        <label class="text-campo" for="">Logradouro:&nbsp </label>
                        <input class="campo rua" type="text" placeholder="Rua" required>
                    </div>

                    <div class="alinha">
                        <label class="text-campo" for="">Bairro:&nbsp </label>
                        <input class="campo bairro" type="text" placeholder="Bairro" required>
                    </div>

                    <a class="nav-link" href="../../../index.html">
                        <button class="atualizar alinha">
                            Finalizar
                        </button>
                    </a>
            </div>
    </div>
</body>

<script src="../../../js/jquery-3.6.0.js"></script>
