/*Início System*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    
    html {
        scroll-behavior: smooth;
    }

    .container {
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: #fff;
        position: relative;
    }    

    .boxImg {
        width: 50%;
        height: 100%;
        background: black;
        float: left;
        align-items: center;
    }

    .img {
        position: absolute;
        top: 70px; 
        left: 70px;
    }

    /*Style Dados-Pessoais*/
    .dados-pessoais {
        width: 50%;
        height: 100%;
        background: #fff;
        display: relative;
        float: right;
    }

   .title-dados {
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        color: #059481;
        position: relative;
        margin-top: 30px;
    } 
        
    .campo {
        width: 70px;
        height: 35px;
        border: 1px solid #059481;
        background: none;
        border-radius: 6px;
        outline: none;
        padding: 0 15px;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        color: #059481;
    }

    .nome {
        width: 600px;
    }

    .alinha {
        margin-left: 40px;
        margin-top: 25px;
    }

    .cpf {
        width: 160px;
    }

    .ladoCPF {
       float: right;
       margin-right: 40px;
       margin-top: -35px;
    }

    .ladoCel {
        float: right;
        margin-right: 40px;
        margin-top: 25px;
    }
 

    .telefone {
        width: 160px;
    }

    .ladoTel {
        float: right;
        margin-right: 40px;
        margin-top: 10px;
    } 

    .celular {
        width: 200px;
    }

    .rua {
        width: 600px;
    }

    .cep {
        width: 170px;
    }

    .cidade {
        width: 600px;
    }
    
    .bairro {
        width: 600px;
    }

    .dtNasc {
        width: 150px;
    }

    input::-webkit-calendar-picker-indicator{
        display: none;
    }
    
    input[type="date"]::-webkit-input-placeholder{ 
        visibility: hidden !important;
    }

    .campo::placeholder {
        color: #059481;
        font-size: 15px;
    }

    .campo:active , .campo:focus {
        border: 2px solid #111;
        color:#111;
        transition: .4s;
    }

    .text-campo {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #059481;
    }

    .atualizar {
        width: 130px;
        height: 40px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        background-color: #059481;
        border-radius: 6px;
        border: 2px solid #059481;
        cursor: pointer;
        color: #fff;
        margin-left: 270px;
        margin-top: 30px;
    }

    .atualizar:hover {
        background: #fff;
        color: #059481;
        border: 3px solid #059481;
        transform: scale(1.05);
    }
    /*Fim Style Dados-Pessoais*/
